<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <description>Test servlets used to test session contexts.</description>
 <display-name>Session Context Tests</display-name>
 
 <ejb-ref>
    <ejb-ref-name>ejb/MyRemoteEjb</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <remote>org.jboss.jsr299.tck.tests.xml.resource.ejb.RemoteEjbInterface</remote>
 </ejb-ref>
  
 <session-config>
  <session-timeout>10</session-timeout>
 </session-config>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>