<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<alternatives>
		<class>org.jboss.jsr299.tck.tests.alternative.Chicken</class>
		<class>org.jboss.jsr299.tck.tests.alternative.EnabledSheepProducer</class>
		<stereotype>org.jboss.jsr299.tck.tests.alternative.EnabledAlternativeStereotype</stereotype>
	</alternatives>
</beans>