<Beans xmlns="urn:java:ee"> 
   <EntityManager>
      <PersistenceContext>
         <unitName>test</unitName>
      </PersistenceContext>   
   </EntityManager>
   
   <EntityManagerFactory>
      <PersistenceUnit>
         <unitName>test</unitName>
      </PersistenceUnit>   
   </EntityManagerFactory>
</Beans>
