<beans> 
  <interceptors>
    <class>org.jboss.jsr299.tck.tests.interceptors.definition.member.IncreasingInterceptor</class>
    <class>org.jboss.jsr299.tck.tests.interceptors.definition.member.DecreasingInterceptor</class>
    <class>org.jboss.jsr299.tck.tests.interceptors.definition.member.VehicleCountInterceptor</class>
  </interceptors>
</beans>
