name: Jakarta Contexts and Dependency Injection TCK CI

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: "Build CDI TCK - JDK ${{matrix.java}}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [11, 17]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1.4.3
        with:
          java-version: ${{ matrix.java }}
      - name: "Maven install(staging)"
        run: |
          mvn clean install -Pstaging -B -V
      - name: "Maven install"
        run: |
          mvn clean install -B -V
