name: Jakarta Contexts and Dependency Injection TCK CI

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: "Build CDI TCK - JDK ${{matrix.java}}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [17, 21]
    steps:
      - uses: actions/checkout@v4.1.2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.1.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: "Maven install(staging)"
        run: |
          mvn clean install -Dno-format -Pstaging -B -V
      - name: "Maven install"
        run: |
          mvn clean install -Dno-format -B -V javadoc:javadoc
